li{
    list-style: none;
}

.members{
    display: flex;
    flex-wrap: wrap;
    
    align-items: right;
    
    justify-content: center;
}


img{
    
    height: 100px;
}
.im{
    text-align: center;
    margin: 10px;
}

.goal{
    margin-bottom: 10%;
}

#Pan{
    animation-duration: 5s;
    animation-delay: 0.1s;
    animation-direction: normal;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
#atom{
    animation-name:Flip ;
    animation-duration: 5s;
    animation-delay: 0.1s;
    animation-direction: normal;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
@keyframes Flip{
    0% {transform: scaleX(1);}
    
    50% {transform: scaleX(-1);}

    100% {transform: scaleX(1);}
}

@keyframes Rotate{
    0% {transform: rotate(0deg);}
    
    100% {transform: rotate(360deg);}
}
.container{
    margin-bottom: 10px;
}