* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  main{
    height: 100%;
  }
  .column {
    float: left;
    width: 100%;
    padding: 0 10px;
  }
  
  .container {
    margin: 0 -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
  
  .container:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 400px 100px;
    grid-template-areas: "img""text";
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #f1f1f1;
  }
  .card-img {
    grid-area: img;
    overflow: hidden;
  }
  .card-img img {
    transition: transform 0.5s ease;
  }

  .card-txt{
    grid-area: text;
  }
  img {
    max-width: 100%;
    max-height: 100%;
}
.card:hover {
  background-color: #d3d3d3;
}
.card-img:hover img {
  transform: scale(1.1);
}
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }