
body {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    justify-content: center;
}

.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 900px;
    height: 600px;
    background: #fff;
    margin: 20px;
}

.container .imgBx {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38%;
    border: 5px;
    height: 100%;
    /* background: #212121; */
    transition: .3s linear;
    overflow: hidden;
}

.container .imgBx img {
    position: relative;
    width: fit-content;
    height: 100%;
    transition: .9s linear;
    margin-left: 100px;
}

.container .details {
    background-color: black;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px;
    border-radius: 15px;
}

.container .details h2{
    padding: 0;
    font-size: 2.4em;
    line-height: 1em;
    color: white;
    margin: auto;
}

.container .details h2 span {
    font-size: 0.4em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #999;
    
}

.container .details p {
    max-width: 85%;
    margin: auto;
    color:white;
    font-size: 15px;
    margin-bottom: 36px;

}

.container .details h3 {
    display: flex;
    margin:auto;
    justify-content:center;
    align-self: center;
    align-items: center;
    padding: 0;
    font-size: 2.5em;
    color: white;
    float: left;
    width: 100%;
}
.container .details button {
    background: green;
    color: #fff;
    border: none;
    outline: none;
    padding: 15px 20px;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 40px;
    text-align: center;
    float: center;
    margin: auto;
    
}
.content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}

ul{
    color: #fff;
    text-align: left;
}