
.boxpage{/*input field*/
	height: 700px;
	background: black;
	overflow: hidden;
	background: linear-gradient(to top, rgb(0, 0, 0), rgba(150, 111, 51));
	border-radius: 0px;
	transform: translateY(100px);
}
#chk{
    display: none; /*hide the element with id<chk>*/
}
.login{
	position:relative;/*all element with div class = "signup" can be adjusable*/
	width:100%;
	height: 100%;
	
}
label{ /*select all label element*/
	color: white;
	font-size: 40px;
	justify-content: center;/*adjust sign up and login label to center*/
	display: flex;
	margin: 0px;/*margin all foursides of label to 35 pixeld*/
}
.in{/*input*/
	width: 70%;/*adust imput field to 70% percentage from whole page*/
    border-radius: 15px;
	height: 30px;/*height of field*/
	background: #e0dede;
	justify-content: center;/* set input field to center*/
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
}
.sing{/*button*/
	width: 70%;
	margin: 20px auto;
	justify-content: center;
	display: flex;
	font-size: 20px;
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.sing:hover {
	background-color: #3e8e41;
  }
.signup{
	height: 100%;
	background: white;
	border-radius: 0px;
	transform: translate(0%,-25%);/*move login field up 12% pixels in order to be visible by users*/
	transition: 1s ease-in-out;/*1 seconds transition for slow start and end*/
}
.signup label{
	text-align: center;
	color: black;
}

#chk:checked ~ .signup{/*if checkbox is clicked by all element of log-in*/
	transform: translateY(-90%);/*move log in field up 600 pixels*/
}
.select{
	margin: 20px auto;
	width: 50%;
	justify-content: center;
	display: flex;
	font-size: 20px;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	margin-bottom: 0ch;
}
.selectbox{
	margin: 20px auto;
	width: 25%;
	justify-content: center;
	display: flex;
}

