html { height: 100%; }
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-image: url("https://images4.alphacoders.com/551/thumb-1920-551125.jpg");
  backdrop-filter: blur(12px);
  margin: 0;
  padding: 0;
  margin-bottom: 0;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

header,footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}
.footer {
  vertical-align: bottom;
  margin-top: 0px;
}

h1 {
  margin: 0;
  font-size: 36px;
}
nav {
  background-color: rgb(204, 197, 197);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
nav li {
  margin: 0 20px;
}
label{
  margin: 0 20px;
}
nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

nav form {
  display: flex;
}

nav label {
  color: #fff;
  font-size: 0.8rem;
  line-height: 2;
}

nav input[type="text"] {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-right: 0.5rem;
}
nav button {
  border: none;
  border-radius: 0.5rem;
  background-color: #ccc;
  color: #333;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

nav button:hover {
  background-color: #666;
  color: #fff;
}
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}



ol {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}
ul {
  margin: 0;
  padding: 0;
  list-style: black circle;
  list-style-position: inside;
  text-align: center;
}


li {
  margin-bottom: 10px;
}

p {
  margin: 0;
  text-align: center;
}