html { height: 100%; }

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-image: url("https://images4.alphacoders.com/551/thumb-1920-551125.jpg");
  backdrop-filter: blur(12px);
  margin: 0 auto;
  padding: 0;
  margin-bottom: 0;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
main{
  min-height: 78vh;
}
header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 0px;
  min-height: 150px;
}
footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
  width: 100%;
  position: fixed; 
  bottom: 0px;
}

footer p {
	font-size: 1rem;
}

h1 {
  margin: 0;
  font-size: 36px;
}
nav {
  background-color: rgb(204, 197, 197);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius:5mm;
  margin-left: 50px;
  margin-right: 50px;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
nav li {
  margin: 0 20px;
}
label{
  margin: 0 20px;
}
nav a {
  color: black;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

nav form {
  display: flex;
}

nav label {
  color: black;
  font-size: 0.8rem;
  line-height: 2;
}

nav input[type="text"] {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-right: 0.5rem;
}
nav select {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-right: 0.5rem;
}
nav button {
  border: none;
  border-radius: 0.5rem;
  background-color: #ccc;
  color: #333;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

nav button:hover {
  background-color: #666;
  color: #fff;
}

section {
  margin-bottom: 40px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}
button[type="submit"] {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
button[type="submit"]:hover {
	background-color: #3e8e41;
}

ol {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}
ul {
  margin: 0;
  padding: 0;
  list-style: black circle;
  list-style-position: inside;
  text-align: center;
}


li {
  margin-bottom: 10px;
}

p {
  margin: 0;
  text-align: center;
}