 h2 {
    font-size: 2rem;
    margin-top: 0;
  }
  
  .product {
    text-align: center;
    position: relative;
  }
  
  .product img {
    width: 25%;
    filter: brightness(100%);
    transition: all 0.3s ease;
  }
  
  .product img:hover {
    filter: brightness(70%);
  }
  
 .product :hover .add-to-cart {
  display: block;
}
.product .add-to-cart {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  
  .image-container {
    display: inline-block;
    position: relative;
    width: fit-content;
  }
  
  .add-to-cart {
    background-color: #4CAF50;
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .add-to-cart:hover {
    background-color: #2E8B57;
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: rgba(150, 111, 51 , 0.8);
}