body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin: 0 1em;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
  }
  
  section {
    margin-bottom: 2em;
  }
  
  section h2 {
    margin-bottom: 0.5em;
  }
  
  section ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  section li {
    flex: 1 1 30%;
    margin: 0.5em;
    background-color: #f9f9f9;
    padding: 1em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  section li img {
    max-width: 100%;
  }

  .sub-menu {
    display: block;
  }
  li {
    display: list-item;
    text-align: -webkit-match-parent;
  }

  /* div{
    background-color: #f9f9f9;
    padding: auto;
    display: none;
  }
  .sub menu:hover + div{
    display: block;
  } */