button{
  background-color: #ff0404f6;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.add{
  background-color: #03f803f6;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.add_bar{
  display: flex;
  align-items: center;
  justify-content: center;
}