.center{
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.del{
  background: red;
  color: black;
  font-size: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.add{
  background: rgb(5, 255, 117);
  color: black;
  font-size: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button{
  background: rgba(75, 49, 10, 0.8);
  color: rgb(255, 255, 255);
  font-size: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button#add{
  background-color: #03f803f6;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.add{
  background-color: #03f803f6;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.add_bar{
  display: flex;
  align-items: center;
  justify-content: center;
}
td,th{
  max-width: 1px;
  min-height: 5px;
  text-overflow: clip;
}

#id{
  text-align: center;
}