button{
  
  animation-iteration-count: infinite;
  background: red;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  animation-name: rainbow;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0.1s;
}

@keyframes rainbow{
  0%{background-color: red;}
  14.3%{background-color: orange;}
  42.8%{background-color: yellow;}
  57.1%{background-color: rgb(0, 255, 21);}
  71.4%{background-color: rgb(0, 4, 255);}
  85.7%{background-color: rgb(119, 0, 255);}
  100%{background-color: purple;}
  
}
button#add{
  background-color: #03f803f6;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.add{
  background-color: #03f803f6;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.add_bar{
  display: flex;
  align-items: center;
  justify-content: center;
}
td,th{
  max-width: 1px;
  min-height: 5px;
  text-overflow: clip;
}

#id{
  text-align: center;
}