
h1 {
    text-align: center;
}


#criteria {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.container#detail{
	align-items: center;
	max-width: 75%;
  	margin-top: 5%;
  	margin-bottom: 10%;
 	padding: 10px;
  	border: 1px solid #ccc;
  	background-color: rgba(150, 111, 51, 0.8);
  	border-radius: 0.5rem;
  	border-radius: 5mm;
}
table {
	
	table-layout:auto ;width:20%;
	text-align: center;
    width: 100%;
    border-collapse: collapse;
	
}
.detail{
	border: 0.1px solid #ccc;
	border-radius: 5px;
}
#admin{
	background-color: #FF9179;
}
/* #admin:hover{
	background-color: rgb(255, 255, 255);
} */

thead {
    background-color: #ddd;
	padding:20px;
	border: 10px;
	border-radius: 5px;

}

th,td,tr {
    padding: 10px;
    text-align: left;
}

th {
    font-weight: bold;
}

tr:hover {
    background-color: rgb(255, 255, 255);
}

a {
	
    color: #4736e0;
    text-decoration: none;
}
a:hover{
	color: #36e082;
    text-decoration: none;
}

label {
	display: block;
	margin-bottom: 5px;
}
.search{
    margin: 20px auto;
	width: 25%;
	justify-content: center;
	display: flex;
}
.search-sec{
    color: rgb(255, 255, 255);
    margin: 20px auto;
	justify-content: center;
	font-size: 20px;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
    margin-top: 100px;
	margin-bottom: 50px;
    background-color: rgba(150, 111, 51, 0.8);
    max-width: 800px;
    border: 1px solid #ccc;
    border-radius: 5mm;
}
#search-box {
	width: 60%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

button[type="submit"] {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button[type="submit"]:hover {
	background-color: #3e8e41;
}

